@charset "utf-8";

body {
    background-color: #d3d3d3;
}

.font_color {
    color: #add8e6;
}

th,td{
    border:solid 1px #aaaaaa;
}

th,td{
    border:double 2px #2196f3;
}

th,td{
    border:dashed 2px #f44336;
}
